html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden; /* disable scroll */
}

#calendarContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#calendar {
  height: 100%;
  width: 100%;
  background: white;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
